name: Deploy Portfolio

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.7.0'
      
      - run: npm install -g serve
      - run: npm run build
      - run: serve -s -l 5173 dist &

      - name: Audit Preview URL wiht Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: http://localhost:5173/
          uploadArtifacts: true
          temporaryPublicStorage: true
          configPath: ./.lighthouserc.json

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          branch: gh-pages